{% load static%}
<!doctype html>

<html>
    <head>
        <title>ビーフシチュー</title>
    </head>

<!---ここから中身のコード--->    
    <body>
                <h1>
        <div style="text-align: center;">
            <font size="7">
            ビーフシチュー
            </font>
        </div>
        </h1>
        <div style="position:absolute; top:90px; left:410px"> 
        <img src="{% static "bi-fusityu-.png"%}" align="left"  width="250" height="250">
        </div>
        <div style="position:absolute; top:70px; left:710px">
            <h1>
                材料（４人分）
            </h1>
            牛肉 260g<br>
            玉ねぎ ２個<br>
            人参 １本<br>
            じゃがいも ２個<br>
            マッシュルーム 適量<br>
            赤ワイン 1/４カップ<br>
            小麦粉 大さじ１<br>
            コンソメ　大さじ１<br>
            塩・こしょう 適量<br>
            油　大さじ１<br>
        </div>
         <div style="position:absolute; top:395px; left:410px">
            <h1>
                作り方
            </h1>
        </div>
        <div style="position:absolute; top:480px; left:420px">
            １．牛肉の水けをふき、包丁の背で表面をたたき、塩・こしょう、小麦粉をまぶします。<br>
            ２．野菜を一口大に切ります。<br>
            ３．鍋に半量の油を熱し玉ねぎを炒め、水（４カップ）、コンソメを入れて煮ます。<br>
            ４．フライパンに残りの油を熱し、牛肉の表面を焼いて３に加えます。<br>
            ５．４で使ったフライパンに赤ワインを入れ、アルコールを飛ばして３に入れて、アクをとって弱火で二時間煮込む。<br>
            ６．デミグラスソース、人参、じゃがいも、マッシュルームを加えて３０分煮る。<br>
        </div>
    </body>
</html>