{% load static%}　
<!DOCTYPE html> 
<html lang="ja"> 
<head> 

<meta http-equiv="content-type" charset="utf-8">

<title>handy</title>

</head>

<body>

<div style="text-align: center;">
<!---<div style="position: relative; display:inline-block;">--->



<a href='http://localhost:8000/handy/reizouko.html'>
<img src=" {% static "tyouhoukei.jpg"%}" alt="次へ"  title="handy" width="500" height="300">
<p><font size="9">冷蔵庫</font></p>
</a>
<div style="position: absolute; top: 103px; left: 810px; max-width: 100%; max-height: 100%; padding: 30px; text-align: center;"></div>

</div>
</div>

<div style="text-align: center;">
<!---<div style="position: relative; display:inline-block;">--->

<a href='http://localhost:8000/handy/reitouko.html'>
<img src=" {% static "tyouhoukei.jpg"%}" alt="次へ"  title="handy" width="500" height="300">
<p><font size="9">冷凍庫</font></p>
</a>
<div style="position: absolute; top: 390px; left: 810px; max-width: 100%; max-height: 100%; padding: 30px; text-align: center;">
</div>

</div>

</body>

</html>