{% load static%}
<!DOCTYPE html> 	  
<html>

<head>

<meta http-equiv="content-type" charset="utf-8">

<title>handy</title>

</head>

<body>
<!--↓↓ここからサイトの表示部分↓↓-->



<p><center><font size="7"face="ＭＳ ゴシック">handy</font>
<input type="search" name="search" size="40" maxlength="20">
<input type="submit" name="submit" value="検索">
    
    <br>
    <br>

    <a href="http://localhost:8000/handy/form">
        <img src=" {% static "シルエット.png"%} " alt="次へ"  title="handy" width="150" height="150">
    </a>

        <br>
        <br>

<br><p><center>
<span style="transform: rotate(340deg); display: inline-block;"><br>今月の旬の食材</span>&emsp;&emsp;(12月)&emsp;&emsp;・カリフラワー&emsp;&emsp;・大根&emsp;&emsp;・ながいも<br>&emsp;&emsp;&emsp;&emsp;・はくさい&emsp;&emsp;・ほうれんそう&emsp;&emsp;・れんこん
</center></p>

<br><p><center>
<p>　　　　　
    正月　　　　　　　　　　　花見　　　　　　　　　ハロウィン　
</p>
        <img src="{% static "正月.png"%}"   width="150" height="150"></a>　　　　
        <img src="{% static　"花見.png"%}" alt="桜"  title="桜" width="150" height="150">　　
        <img src="{% static　"ハロウィン.png"%}" alt="ハロウィン"  title="ハロウィン" width="150" height="150">
<br>　　
<p>クリスマス　　　　　　　　　お誕生日　　　　　　　　　お弁当</p>
<a href="http://localhost:8000/handy/cristmas">
<img src="{% static　"クリスマス.png"%}" alt="クリスマス"  title="クリスマス" width="150" height="150">　　
</a>　　
    <img src="{% static　"お誕生日.png"%}" alt="お誕生日"  title="お誕生日" width="150" height="150">　　　　
    <img src="{% static　"お弁当.png"%}" alt="お弁当"  title="お弁当" width="150" height="150">
</center></p>

<p><center>
        <br>
        <br>
        <a href="ドラッグ.html"><img src="{% static　"冷蔵庫.png"%}" alt="次へ"title="冷蔵庫" width="200" height="300"></a>
        </center></p>
<!--allの終了タグ-->

</body>

</html>
        