{% load static%}
<!doctype html>
<html lang="ja"> 
<head> 
<meta charset=utf-8>
<title>メニュー</title>
<link rel="stylesheet" href="{% static 'js/test.js' %}">
</head>

<!---ここから中身のコード--->    
    <body>
    <h1>
        <center>
            クリスマス
        </center>
    </h1>
    <br>
    <br>
    <center><div style="position: absolute; top: 100px; left:100px; right:100px;max-width: 400px; margin-left:auto; margin-right:auto; padding: 30px;">
    <script type="text/javascript" src="f.js"></script>
   <script async src="https://cse.google.com/cse.js?cx=001471491527874621648:bw3hr8fuvwb"></script>
<div class="gcse-searchbox"></div></div>
    <div style=" width: 450px; height: 50px;">
        <div class="gcse-searchresults"></div></div>

    <div id="queries"></div>
<script src="https://cse.google.com/query_renderer.js"></script>
<script src="https://cse.google.com/api/001471491527874621648:bw3hr8fuvwb/popularqueryjs?view=overall&callback=(new+PopularQueryRenderer(document.getElementById(%22queries%22))).render"></script>
        </center>
<center>
     <style type="text/css">-->     
#hako{
    width: 800px;
    height: 400px;
    background-color: #f5f5f5;
    clear: both;
    }</style>   
        
          <center>
            <a href= http://localhost:8000/handy/bi-fusityu-.html>
       　　　<div id="hako" ><p>
            <img src="{% static "bi-fusityu-.png"%}" align="left"  width="400" height="400">
            <br><br><br><br>
            ビーフシチュー<br><br>
            材料：牛肉 玉ねぎ 人参 じゃがいも マッシュルーム <br> 赤ワイン 小麦粉 コンソメ　塩・こしょう 油　<br><br>
            材料費：約800円<br><br>
            カロリー：1.11kcal/g</p><br>
            </div></a><br>
            </a>  

            <a href= http://localhost:8000/handy/syuto-renn.html>
            <div id="hako"><p>
            <img src="{% static "syuto-renn.jfif"%}" align="left"  width="400" height="400">
            <br><br><br><br>
            シュトーレン<br>
            材料：強力粉、ドライイースト、砂糖、塩 卵、牛乳、バター ドライフルーツとドライナッツのラム酒漬け、はちみつ、粉砂糖<br><br>
            材料費：約1000円<br><br>
            カロリー：3.51kcal/g</p><br>
            </div></a><br>

            <a href=http://localhost:8000/handy/mi-toro-fu.html>
            <div id="hako" ><p>
            <img src="{% static "mi-toro-fu.jfif"%}" align="left"  width="400" height="400">
            <br><br><br><br>
            ミートローフ<br><br>
            材料：合い挽き肉、玉ねぎ、卵、しょうゆ、パン粉、豆腐<br>
            しいたけ、ウズラの卵、スライスチーズ　ケチャップ、コーミソース　<br><br>
            材料費：<br><br>
            カロリー：1.49kcal/g</p><br>
            </div></a><br>

            <div id="hako" ><p>
            <img src="{% static "furaidotikinn.png"%}" align="left"  width="400" height="400">
            <br><br><br><br>
            フライドチキン<br><br>
            材料：<br><br>
            材料費：<br><br>
            カロリー：</p><br>
            </div><br>
            
            <div id="hako" ><p>
            <img src="{% static "kuri-musityu-.jfif"%}" align="left"  width="400" height="400">
            <br><br><br><br>
            クリームシチュー<br><br>
            材料：<br><br>
            材料費：<br><br>
            カロリー：</p><br>
            </div><br>
            
            <div id="hako" ><p>
            <img src="{% static "ro-sutobi-fu.jpg"%}" align="left"  width="400" height="400">
            <br><br><br><br>
            ローストビーフ<br><br>
            材料：<br><br>
            材料費：<br><br>
            カロリー：</p><br>
            </div><br>
            
            <div id="hako" ><p>
                    <img src="{% static "guratann.jfif"%}" align="left"  width="400" height="400">
            <br><br><br><br>
            グラタン<br><br>
            材料：<br><br>
            材料費：<br><br>
            カロリー：</p><br>
            </div><br>
            
            <div id="hako" ><p>
            <img src="{% static "bussyudonoeru.png"%}" align="left"  width="400" height="400">
        　　　<br><br><br><br>
            ブッシュドノエル<br><br>
            材料：<br><br>
            材料費：<br><br>
            カロリー：</p><br>
            </div><br>
            
            <div id="hako" ><p>
                    <img src="{% static "potatosarada.png"%}" align="left"  width="400" height="400">
            <br><br><br><br>
            ポテトサラダ<br><br>
            材料：<br><br>
            材料費：<br><br>
            カロリー：</p><br>
            </div><br>
            
            <div id="hako" ><p>
                    <img src="{% static "piza.png"%}" align="left"  width="400" height="400">
            <br><br><br><br>
            ピザ<br><br>
            材料：<br><br>
            材料費：<br><br>
            カロリー：</p><br>
            </div><br>
            <br>
        </center>

    </body>
    <script>
    
// newでインスタンス化
var array = new Allergy(7);
　// 配列の[n]番目に値を格納する 
  var arr1 =[0,0,0,0,0,0,0]
  var arr2 =["-牛乳","-卵","-そば","-小麦","-えび","-かに","-落花生"]  
 //document.write(arr2[0]);
    
    function data2(){//文字列にしました
        var x1 = arr2.join();
        return x1;
    }
    window.hogeLib= window.hogeLib|| {};
    window.hogeLib.data2 = data2;
    
    var data11 = window.hogeLib.xxx();
    
 </script>
</html>