{% load static%}
<!doctype html>

<html>
    <head>
        <title>ミートローフ</title>
    </head>

<!---ここから中身のコード--->    
    <body>
        <h1>
        <div style="text-align: center;">
            <font size="7">
            ミートローフ
            </font>
        </div>
        </h1>
        <div style="position:absolute; top:90px; left:350px"> 
        <img src="{% static "mi-toro-fu.png"%}" align="left"  width="250" height="250">
        </div>
        <div style="position:absolute; top:70px; left:650px">
            <h1>
                材料
            </h1>
            合い挽き肉 350g<br>
            玉ねぎ １玉<br>
            卵 １個<br>
            しょうゆ　大２<br>
            パン粉　大３<br>
            豆腐　80g<br>
            しいたけ　４個<br>
            ウズラの卵　５個<br>
            スライスチーズ　３枚<br>
            ケチャップ　100ml<br>
            コーミソース　大１~２
            <br>
        </div>
         <div style="position:absolute; top:405px; left:350px">
            <h1>
                作り方
            </h1>
        </div>
        <div style="position:absolute; top:480px; left:360px">
            １．玉ねぎをみじん切りにします。
            しいたけの石づきをとり、細かく刻む。
            オーブンの温度を200度に熱しておく。<br>
            ２．ボウルに合い挽き肉、1の玉ねぎと刻んだしいたけの石づき、卵、しょうゆ、パン粉、豆腐を入れよく混ぜます。<br>
            ３．型に2を1/3位入れ、うずらの卵としいたけ、チーズと中の具材を入れます。<br>
            ４．残りの肉で中の具材を包みこむ。200度で35分位加熱します。<br>
            ５．ケチャップとコーミソースを混ぜ合わせ、ソースを作って完成です。<br>
        </div>
    </body>
</html>