{% load static%}
<!doctype html>

<html>
    <head>
        <title>シュトーレン</title>
    </head>

<!---ここから中身のコード--->    
    <body>
                <h1>
        <div style="text-align: center;">
            <font size="7">
            シュトーレン
            </font>
        </div>
        </h1>
        <div style="position:absolute; top:90px; left:410px"> 
        <img src="{% static "syuto-renn.png"%}" align="left"  width="250" height="250d">    
        </div>
        <div style="position:absolute; top:70px; left:710px">
            <h1>
                材料（４人分）
            </h1>
            強力粉 250g<br>
            ドライイースト 5g<br>
            砂糖 25g<br>
            塩 5g<br>
            卵 １個<br>
            牛乳 100cc<br>
            バター 40g<br>
            ドライフルーツとドライナッツのラム酒漬け 200g<br>
            はちみつ 大２<br>
            粉砂糖 大３<br>
        </div>
         <div style="position:absolute; top:395px; left:410px">
            <h1>
                作り方
            </h1>
        </div>
        <div style="position:absolute; top:480px; left:420px">
            １．ホームベーカリーに砂糖、塩、卵、牛乳、バターを入れます。<br>
            ２．１に強力粉を入れ、中央をくぼませドライイーストを入れ、スイッチオン。<br>
            ３．出来上がったら生地を取り出し綿棒で伸ばします。<br>
            ４．ドライフルーツとドライナッツのラム酒漬けを加え、生地と馴染むようにこねます。<br>
            ５．４で出来上がったものを発酵します。<br>
            ６．1.5倍の大きさになったらガス抜きをしながら平らに伸ばします。<br>
            ７．先端が重ならないように少しずらして半分に折りたたみます。<br>
            ８．７でできあがったものを発酵します。<br>
            ９．１８０度に熱したオーブンで３０分焼きます。<br>
            １０．焼き上がったものにはちみつを塗って、粉砂糖を振ったら完成です。<br>
            <br>
            <br>
        </div>
    </body>
</html>